@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');


header{
    background-color: #AAB396;
}

body {
    font-family: "Audiowide", sans-serif;
    background-color: #F7EED3;
}

a{
    text-decoration: none;
    color: black;
}

footer{
    background-color: #AAB396;
}

.particular{
    background-color: #E4E0E1;
    border: 2px solid #D6C0B3;
}